modules = ["nodejs-20", "python-3.12", "web"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start API"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm install --filter @workspace/api-server... && cd artifacts/api-server && pnpm run build && cd ../.. && PORT=8080 node --enable-source-maps scripts/run-api.mjs"
waitForPort = 8080

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm install --filter @workspace/fishtokri-admin... && cd artifacts/fishtokri-admin && PORT=5000 BASE_PATH=/ pnpm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm install && cd artifacts/api-server && pnpm run build && cd ../.. && PORT=8080 node --enable-source-maps ./artifacts/api-server/dist/index.mjs"
waitForPort = 8080

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PORT = "8080"
API_PORT = "8080"
BASE_URL = "http://187.127.174.48:3015"
QZ_CERTIFICATE = """
-----BEGIN CERTIFICATE-----
MIIDQzCCAiugAwIBAgIUY+hstKLTrZP3+xprD/AXgiexPFQwDQYJKoZIhvcNAQEL
BQAwMTEbMBkGA1UEAwwSYWRtaW4uZmlzaHRva3JpLmluMRIwEAYDVQQKDAlGaXNo
VG9rcmkwHhcNMjYwNjAyMDYyODM3WhcNMzYwNTMwMDYyODM3WjAxMRswGQYDVQQD
DBJhZG1pbi5maXNodG9rcmkuaW4xEjAQBgNVBAoMCUZpc2hUb2tyaTCCASIwDQYJ
KoZIhvcNAQEBBQADggEPADCCAQoCggEBANMQTogg7sBClojyvFfuqhj1QE8dskBu
m+rvEDEy/zFMGyaXQS4xMXR5fZQP9i1hjEn4NuWBdlZnd7qWKPw2Nfg9EK/LCBXM
cJ3Pmq3fOOH1otrm0oF7vJijvTKoOn0imS+rqnmQ2HuYbThzbXfeEIzcbO2+TqfA
QPnXtm8uYBiOTnH19wh2uoQpDQehNh16onGyQUfmhg7fCLSuU5D8aPHUDLjPqTNd
syawRVwidrrph8rIPSchpg/wYUSXobLr7jrRzmFnReNP18FOlgfR73OX1CyIpPne
SdZ2dIMHsGTzOgqrsPM7XDActnIh9OXhnavIwKQUbAapzpb9MiyxIocCAwEAAaNT
MFEwHQYDVR0OBBYEFIUW7NLeUM6RPgEF3YlRBlm6irEeMB8GA1UdIwQYMBaAFIUW
7NLeUM6RPgEF3YlRBlm6irEeMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQEL
BQADggEBALS5B0KYGDJ6bpVEPg3elzm2StDN2G8BNu6msD4UwLe1fw+sHWS+MWD8
AtaizY/TxtQSfekY/M2eN66vC5VkMaCJ2bq53PdtCTEJ1YdFbLwjRK7046ENrcGG
OBE8Nblcg/huov8NZHlsf+FeR2LF4uerh8/S1pAZ4m/KfPgiK/NoG9lhu+BO/QUS
xCwNlsdRirSx9+Lprx+akIwo/N3rr73xtWBQuVxEXiwqZZVH4vz0x2cTtfY6soKT
10SGo3by9n17lVGjW2Tqu8OkUnkSbi3eI/wQIFlPvmrtdI1u3FkmnJvqh+EBOu47
78BCqZK35GvmWMxZe4s8h8uTeCY7Uxw=
-----END CERTIFICATE-----"""
QZ_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDTEE6IIO7AQpaI
8rxX7qoY9UBPHbJAbpvq7xAxMv8xTBsml0EuMTF0eX2UD/YtYYxJ+DblgXZWZ3e6
lij8NjX4PRCvywgVzHCdz5qt3zjh9aLa5tKBe7yYo70yqDp9Ipkvq6p5kNh7mG04
c2133hCM3Gztvk6nwED517ZvLmAYjk5x9fcIdrqEKQ0HoTYdeqJxskFH5oYO3wi0
rlOQ/Gjx1Ay4z6kzXbMmsEVcIna66YfKyD0nIaYP8GFEl6Gy6+460c5hZ0XjT9fB
TpYH0e9zl9QsiKT53knWdnSDB7Bk8zoKq7DzO1wwHLZyIfTl4Z2ryMCkFGwGqc6W
/TIssSKHAgMBAAECggEAFOMAuoTzy4/rYLsQu2zxZU3j4tBwAuNPR7UHt66xxVmg
ODXwq9cPa1TYgg4AUSZdoTZQjG6+3LcZiJvyi178AUhdvd/MOYgFPwC78GfuM6JA
zwPXohuyIrLVds1iGF8TpL2KvcQBQF3ptRPrKdkObzojB3X1R7GFXJQlyCPhO5yv
j2xKNhbfa1LBFDL1t+oJFNaoNGQwLqmyNdC+IhHsJgQO+kecpIT0XPZYxsTWP4wI
RNZElP8LqE9LJCXRnc8MZXYS+396Zi9Vd830nozpXcfwj+MVT2lPr06PIWpyW4OA
h3JrYZn4AiVyAavhoVFoV6tIAlr1PEAi9SHNPC5UcQKBgQDtUCDO8S6kNzSbtiee
ba3IP8nFkoTR4DDEl3oBityXiFPeX82C+ODAOfT9e9GmXOIOmkapQwLMnA1ae6Aw
BrBKH5/glaVjDCfNMF7xU5nJHOQLjEmCuCIj4t3PxmnKx0XXV1vlWRgVQ+gBo1Uh
nievtk7Kdi7DMIgc8EEwU06+8QKBgQDjrwhEtqEjGgxJuqDuKBVI67dgpemgBIdZ
3PHZt/dZk1VklurxRUy82beZstGm7PLbL3+HP9mWq67xuop4JCoHM7VvLzrkxKd+
E9Sbi8xQT21e4rFwWonqXOZUBCNh+eQXzZUx7yXq2R9nnUk7NC+STOI9zAuwF1h0
Pa/5KnVo9wKBgDtRBPJU7ICVX+vvytVZus9LymY86j//VpE8/3z1NZAWvkfeEGNF
TAAgPHFDirKXktVtkG3sVv3Hn7rXHcIDWfsdDnw3S2CHgEdUaNbPO6g+NW4BgbpP
xhDMOv8dLAJIbteVeV3JODDQiWQnbDb77hWIbwdCJQwazFrXXqPynsMxAoGBAJML
uhVWtd8LtZ/wbnshXA3KXpaG0MnN4vSAo5nvHEq3wtDCP14vWY4mNlOHj6t1IKu6
k2xwKkELBGOODFvnT1Vzadwy7qBM+beNayRCN2Qux/4d/mcHskawVPkx6wAd+df9
qDulriFstMGgbWlVHNwp13v9yhaiHTiFlp8fctClAoGAYlEczbCGyN54oug1BQtx
3U1nRJB0/cWk4ttcObVg6PZxOX9RhnOk8vxbvDmZU7p7HHCtiCY6wgBPeQuqClK/
kMbtFAxP0L+A/3nT9RB2XNGDNfIYum8GVgkv0nIRNaiwoTPAuuq8w5Nt/cFcagnk
xTgJdFPkkJQBFSzbo9zY+MI=
-----END PRIVATE KEY-----"""
SESSION_SECRET = "N+sLoTPRIVALoyG9KZg8BEhKC9NNxOSlqfNCDEyxEMIej55cNCHOE1bjIaGh+VFlDXgg9Oh8Wbtgr73PTjkfDQ=="
WABA_API_KEY = "f14bbabd-3245-44e3-ad2a-0ef632747400"
WABA_PHONE_ID = "1103117459561700"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080
